{% extends "base.html" %}

{% block conteudo %}
    <a href="artigo/add" class="btn btn-info">Adicionar conteúdo</a>
    {% for artigo in artigo %}

        <div class="artigo">
            <a href="{{ artigo.get_absolute_url }}"><h2>{{ artigo.titulo }}</h2></a>

            <div class="conteudo">
                Publicado há {{ artigo.publicacao|timesince }}<br/>
                {{ artigo.descricao }}
            </div>

        </div>

        <form class="form-horizontal" role="form" method="post" action="artigo/del/{{ artigo.id }}/">
            {% csrf_token %}
            <button type="submit" class="btn btn-info">Deletar</button>
        </form>

    {% endfor %}
{% endblock %}