<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <title>Lista de QRCodes</title>
</head>
<body>
<table>
    <caption class="titulo">Lista de QRCodes</caption>
    <hr/>
    <tr><td>Link</td><td>Descrição</td></tr>
    {% for book in book_list %}
        <tr><td class="limite"><a href="{{ book.link }}">link</a></td><td class="limite">{{ book.name }}</td></tr>
    {% endfor %}
</table>
<hr>
</body></html>

<style>
    .titulo {
        color:#000000;
        font-size:20px;
    }
    .limite{
        border: 1px #080808 solid;
        color:#2ec077;
    }
    body {
        background-color:#c4e3f3;
    }
</style>