<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}_css/centralizar.css">
    <title>Aplicação de teste</title>
    <style>
        label{display:block;}
    </style>
</head>

<body>
<div class="centro">
    <form>
        <label for="login">Login
            <input name="login" placeholder="login" required type="text">
        </label>
        <br/>
        <label for="senha">Senha
            <input name="senha" placeholder="senha" required type="password">
        </label>
        <input type="submit" value="Enviar" />
    </form>
</div>

</body>

</html>